.container{
    width: 350px;
    height: 500px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50% ) translateY(-50%);
    border-radius: 20px;
}
body{
    background-color: aqua;
    font-family: 'Ralway',sans-serif;
}
h1{
    position: absolute;
    left: 50%;
    top: -60px;
    width: 300px;
    transform: translateX(-50%);
    background-color: yellowgreen;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: 100;
}
.wrap{
    padding: 20px;
}
input{
    width: 80%;
    border: none;
    border-bottom: 1px solid cyan;
    padding: 10px;
}